@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* 
--------------------------------------
GENERAL STYLES 
--------------------------------------
*/

/* Font */
* {
    font-family:"Open Sans" !important;
    font-size:13px !important;
    line-height:22px !important;
    color:#888;
}

/* Links 

a > font is used everywhere, but it doesn't seem like a good idea to set it globally, as it fucks up some anchored titles 
*/
a, a:hover, a > b {
    color:#528BC5 !important;
}

/* Strong */
b {
    font-weight:bold !important;  
}

/* Images */
img {
padding:0;
margin:0;
}

/* Quotes */
blockquote {
    background-color:#222;
    padding:10px;
}

blockquote i {
    font-style:normal !important;
    font-size:12px !important;
}

/* Remove padding from the body and tables */
body, table {
    padding:0;
    margin:0;
    border:0;
    background:none !important;
}

body {
    width:100%;
    background-color:#000 !important;
}

/* Table rows and cells */
tr, td {
    padding:0;
    margin:0;
    background:none !important;
    border:0;
}

/* Horizontal lines */
hr {
    border:none;
    border-bottom:1px dotted #444;
    background:none;
    margin:15px 0 15px 0;
    padding:0;
}



/* 
--------------------------------------
HEADER
--------------------------------------
*/

/* Remove logo */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(2) > a > img,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > img,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > br
{
    display:none;
}

/* Position the new logo absolutely */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(2) > a {
    display:block;
    width:150px;
    height:70px;
    position:absolute;
    top:4px;
    left:0;
    text-align:center;
}

/* New logo will be textual */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(2) > a:before {
    display:inline-block;
    text-align:center;
    font-size:44px;
    line-height:44px;
    font-weight:bold;
    padding:5px 10px 5px 0;
    content:"CSDb";
    font-family:Oswald;
    color:#F0F0F0;
}

/* Subtitle */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(2) > a:after {
    display:inline-block;
    text-align:center;
    font-size:9px;
    line-height:0;
    font-weight:bold;
    padding:2px 10px 5px 0;
    content:"Commodore Scene Database";
    font-family:Oswald;
    color:#F5F5F5;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td:nth-child(3) > font, body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > font {
	display:block !important;
    font-size:11px !important;
    padding:0 0 20px 0;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td:nth-child(3) > font > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td:nth-child(3) > font > b:nth-child(2),body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > font > b:nth-child(1) > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > font > b {
    font-size:11px !important;  
}


/* 
--------------------------------------
// HEADER
--------------------------------------
*/



/* 
--------------------------------------
SITE CONTAINER
--------------------------------------
*/

/* Container table */
body > table {
    margin-top:80px;
    width:100%;
}

body > table > tbody > tr:nth-child(1) > td {
    padding:0 15px 0 15px !important;
}

/* 
--------------------------------------
// SITE CONTAINER
--------------------------------------
*/



/* 
--------------------------------------
LEFT SIDEBAR
--------------------------------------
*/

/* Clear it up from border images */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1) > table > tbody > tr:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1) > table > tbody > tr:nth-child(2) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1) > table > tbody > tr:nth-child(2) > td:nth-child(3),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1) > table > tbody > tr:nth-child(3),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(3),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(3),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(2) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(2) > td:nth-child(3),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(3),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td:nth-child(1) > img,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td:nth-child(2) > img,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td:nth-child(3) > img,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(3),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(3)
{
    display:none;    
}

/* Statistics, Oneliner, Donation, We Love - full width */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(2),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(2) > table {
    width:100% !important;
}

/* Set a fixed width for the sidebar */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1) > table > tbody > tr:nth-child(2) > td:nth-child(2) > table,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(2) > table {
    width:140px !important;   
}

/* Left sidebar headers general */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1):before,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2):before,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3):before, 
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(2):before {
    content:"Statistics";
    font-size:14px !important;
    padding:0 0 2px 0; 
    font-weight:bold !important;
    text-transform:uppercase;
    display:block;
    text-align:center;
    border-bottom:1px solid #222;
    margin:0 0 5px 0;
    color:#AAA;
}

/* Oneliner header */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2):before {
    content:"💩";
    padding-top:20px;
}

/* Donate header */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3):before {
    content:"Donate";
    padding-top:20px;   
}

/* Donation BR tags */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(2) > td:nth-child(2) br {
    display:none;
}

/* Oneliner input field */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(2) > input.in1 {
    font-size:12px !important;
    width:100% !important;
    background-color:#666 !important;
    padding:2px;
    color:#ccc;
    line-height:12px !important;
    border:0 !important;
    margin:3px 0 0 0 !important;
}

/* Oneliner submit */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(2) > input[type="image"]:nth-child(2) {
    display:none;   
}

/* Oneliner handles */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(2) i {
    font-size:12px !important;
    font-weight:bold;
    font-style:normal;
    display:inline-block;
    padding-top:8px;
    color:#999;
}

/* Oneliner messages */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(2) font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1) > table > tbody > tr:nth-child(2) > td:nth-child(2) > table > tbody > tr > td font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(1) > table > tbody > tr:nth-child(2) > td:nth-child(2) > table > tbody > tr > td b {
    font-size:12px !important; 
    line-height:15px !important; 
}

/* "Make a donation" button */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(2) > td:nth-child(2) > input,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(12) > td:nth-child(2) > form > table > tbody > tr > td > font > center > input {
    border:0;
    background-color:#CF4A4A;
    padding:5px 10px 5px 10px;
    font-size:12px !important;
    border-radius:5px !important;
    font-weight:bold !important;
    text-transform:uppercase;
    margin:10px 0 10px 0;
    color:#FFF !important;
}

/* BR tag under "Funding status" */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(2) > td:nth-child(2) > a > br {
    display:block;    
}

/* Funding status image padding */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > form:nth-child(3) > table > tbody > tr:nth-child(2) > td:nth-child(2) img {
    padding:4px 0 4px 0;
}

/* We love header */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(2):before {
    content:"We love";
    padding-top:20px;   
}

/* We love images padding */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td:nth-child(2) > table img {
    padding:5px 0 5px 0;   
}

/* 
--------------------------------------
// LEFT SIDEBAR
--------------------------------------
*/



/* 
--------------------------------------
MAIN
--------------------------------------
*/

/* Main table whitespace, left and right */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) {
    padding:0 0 0 15px;
    margin:0;
}

/* Section headers */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(6) > tbody > tr:nth-child(1) > td > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(9) > tbody > tr:nth-child(1) > td > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(12) > tbody > tr:nth-child(1) > td > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(15) > tbody > tr:nth-child(1) > td > a > font > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(18) > tbody > tr:nth-child(1) > td > b {
    font-size:17px !important;
    font-weight:normal !important;
    display:inline-block;
    padding:0 0 7px 0;
    color:#AAA;
    line-height:7px !important;
}

/* Section spacers (bottom) */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(6),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(9), 
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(12),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(15) {
    margin-bottom:30px;
}

/* Section table cell whitespace */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(6) > tbody td,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(9) > tbody td,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(12) > tbody td, 
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(15) > tbody td {
    border-bottom:1px dashed #222;
    padding:4px 0 4px 0;
}

/* "See posts since your last visit to CSDb" */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(12) > tbody > tr:nth-child(1) > td > a > font {
    color:#666;
    font-size:12px !important;
}

/* 
--------------------------------------
MAIN / NEWS
--------------------------------------
*/

/* Posted by */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(18) > tbody > tr:nth-child(2) > td > table > tbody > tr > td > font > b {
    display:inline-block;
    padding-top:20px;
    color:#999;
}

/* Some styling on the news tables */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(18) > tbody > tr > td > table > tbody > tr td {
    vertical-align:bottom !important;
}

/* width:99%? ಠ_ಠ */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(18) > tbody > tr:nth-child(2) > td > table {
    width:100%;
}

/* Posted on */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td:nth-child(2) > table > tbody > tr > td > table:nth-child(18) > tbody > tr:nth-child(2) > td > table > tbody > tr:nth-child(1) > td:nth-child(2) font {
    color:#555 !important;
}

/* 
--------------------------------------
// MAIN
--------------------------------------
*/



/* 
--------------------------------------
RIGHT SIDEBAR
--------------------------------------
*/

/* Clear it up from border images */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(1) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(2),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(3) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(4) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(5) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(6) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(7) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(8) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(9) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(10) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(11) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(12) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(13),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(14) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(15),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(16) > td:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(17) {
    display:none;
}

/* Headers in the right sidebar (inner pages as well) */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(1) > td > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(3) > td:nth-child(2) > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(5) > td:nth-child(2) > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(7) > td:nth-child(2) > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(9) > td:nth-child(2) > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(11) > td:nth-child(2) > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(11) > td:nth-child(2) > b > a > font,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(7) > td:nth-child(2) > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(7) > td:nth-child(2) > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(3) > td:nth-child(2) > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(9) > td:nth-child(2) > b,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(11) > td:nth-child(2) > b
{
    font-size:14px !important;
    line-height:14px !important;
    color:#ddd;
    display:block;
    padding:15px 0 5px 0;
    font-weight:normal !important;
    text-transform:uppercase;
    text-align:left;
}

/* Remove upper padding from search */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(2) > table > tbody > tr:nth-child(1) > td > b {
    padding-top:0;
}

/* 
--------------------------------------
// RIGHT SIDEBAR
--------------------------------------
*/



/* 
--------------------------------------
FORUM
--------------------------------------
*/

/* 
--------------------------------------
Forum posts since last login. 
http://csdb.dk/latestforumposts.php
--------------------------------------
*/

/* Main container padding */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) {
    padding-right:15px;
}

/* BR under Forum posts written the last 7 days. */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > br {
    display:none;   
}

/* ಠ_ಠ */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table {
    margin:0 !important;
    padding:0 !important;
}

/* Normal text */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table > tbody td a,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table > tbody > tr > td:nth-child(3n){
    font-weight:normal  !important;
    font-size:13px !important;
}

/* BRs above and under "Forum posts written the last 7 days." ಠ_ಠ */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > br:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > br:nth-child(3) {
    display:none !important;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td br {
    display:block !important;
}

/* Forum topics table */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td,
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td > table {
    width:100%;
}

/* Forum topic table headers */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1),
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) b {
    font-weight:bold !important;
    color:#999 !important;
}

/* Topic field */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td:nth-child(1) {
    width:60%;
}

/* Forum topics table cells */
body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(4) > tbody > tr > td > table > tbody > tr > td > table > tbody td {
    padding:8px 10px 8px 0;
    border-bottom:1px dashed #444;
    text-align:left !important;
}

/* 
--------------------------------------
// Forum posts since last login. 
--------------------------------------
*/



/* 
--------------------------------------
// FORUM
--------------------------------------
*/



/* 
--------------------------------------
RELEASE PAGE
--------------------------------------
*/

/* Release page */

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(1) > tbody > tr > td:nth-child(1) {
	font-size:15px !important;   
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > br {
	display:block;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table b {
	color:#aaa;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(1) > tbody > tr > td:nth-child(1) > font {
	font-size:36px !important;
    color:#DDD;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(3) > tbody > tr > td:nth-child(1) {
	padding:20px 20px 0 0;    
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(3) > tbody > tr > td:nth-child(2) {
    padding:17px 0 0 0;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(1) > tbody > tr > td:nth-child(2) > font, body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(1) > tbody > tr > td:nth-child(2) a {
	font-size:11px !important;
    line-height:14px !important;
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > table:nth-child(42){
   width:100%; 
}

body > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(4) > td:nth-child(1) > table > tbody > tr > td > b {
	display:inline-block;
    padding:5px 0 0 0;
}
/* 
--------------------------------------
// RELEASE PAGE
--------------------------------------
*/
